<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template EJS</title>
    <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css">
</head>
<body>
    <header>
        <h1>This is the landing page</h1>
    </header>
    <a href ="/about">go to about</a>
</body>
</html>